.git
#Dockerfile
#docker-compose.yml
.env
__pycache__/
*.pyc
*.db

spotify_cookies.txt
/logs/

/backend/venv
/backend/logs
/backend/extraction
/backend/extractions

/frontend/node_modules
/frontend/npm-debug.log
/frontend/coverage
/frontend/.next
/frontend/out
/frontend/build
/frontend/.env.local

*.tsbuildinfo
next-env.d.ts

.ale
